<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<title> Login </title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class ="container">
        <div class ="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  <span class="sr-only">
    Toogle navigation 
  </span> <span class="icon-bar"></span> <span class = "icon-bar">
  
  </span> <span class="icon-bar"></span>
  
  
  
  </button>
  
  <a class="navbar-brand" href="#" th:href="@{/}">Registration and login</a>
  
        </div>
        </div>
        </nav>    
  <br>
  <br>


  <div class = "container">
<h1>Registration and Login with SPringboot</h1>

  </div>

















</body>





</html>