

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<title> Login </title>
</head>
<body>



<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class ="container">
  <div class ="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">
Toogle navigation 
</span> <span class="icon-bar"></span> <span class = "icon-bar">

</span> <span class="icon-bar"></span>



</button>

<a class="navbar-brand" href="#" th:href="@{/}">Registration and login</a>

  </div>
  </div>
  </nav> 
<br>
<br>
  <div class = "container">
    <div class = "row">
<div class = "col-md-6 col-md-offset-3">
<h1>User Login Page </h1> 
<form th:action="@{/login}" method="POST">
<div th:if = "${param.error}">
<div class="alert alert=danger">
  Invalid username or password.
</div>


</div>
<div th:if="${param.logout}">
  <div class ="alert alert-info"> You have been logged out</div>
</div>

<div class="form-group">

  <label  for="username">
      Username:
  </label>
  <input type="text" id = "username" class= "form-control"name ="username" placeholder="Enter email id" autofocus="autofocus" />
</div>

<div class="form-group">

  <label  for="password">
      Password:
  </label>
  <input type="password" id = "password" class= "form-control"name ="password" placeholder="Enter password" autofocus="autofocus" />
</div>

<div class="form-group">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
 
  <input  type="submit" id = "login-submit" class= "form-control btn btn-primary"name ="login-submit" placeholder="Enter password" value="log in" />
</div>
</form>
<div class= "form-group">
<span> New user? <a href="/" th:href="@{/registration}">Register here</a></span>

</div>

</div>
</div>
</div>


  </body>
  </html>