<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<title> Registration </title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">

      <div class ="container">
      <div class ="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">
  Toogle navigation 
</span> <span class="icon-bar"></span> <span class = "icon-bar">

</span> <span class="icon-bar"></span>



</button>

<a class="navbar-brand" href="#" th:href="@{/}">Registration and login</a>

      </div>
      </div>
      </nav>    

<div class = "container">
    <div class = "row">
<div class = "col-md-6 col-md-offset-3">
<div th:if="${param.success}">
<div class="alert alert-info"> You've successfully registered</div>

</div>
<br>
<br>
<h1> Registration </h1>

<form th:action="@{/registration} " method="post" th:object="${users}">  
    <div class="form-group">

    <label class="control-label" for="firstName">
        First Name
    </label>
    <input id = "firstName" class= "form-control" th:field="*{firstName}" required autofocus="autofocus" />

    </div>
    <div class="form-group">

        <label class="control-label" for="lastName">
        Last Name
        </label>
        <input id = "lastName" class= "form-control" th:field="*{lastName}" required autofocus="autofocus" />
        
        </div>
        <div class="form-group">

            <label class="control-label" for="email">
                Email
            </label>
            <input id = "email" class= "form-control" th:field="*{email}" required autofocus="autofocus" />
            
            </div>
            <div class="form-group">

                <label class="control-label" for="password">
                    password
                </label>
                <input id = "password" class= "form-control" type = "password"  th:field="*{password}" required autofocus="autofocus" />
                
                </div>
        
    <div class="form-group">
    <button type="submit" class="btn btn-success"> Register </button>
    <span> Already registered? <a href="/" th:href="@{/login}"> Login here </a></span>

    </div>




</form> 


</div>



    </div>


</div>



  
</body>
    
</html>